body {
	counter-reset: example;
}

div.example-title:before {
	counter-increment: example;
	content: "Example " counter(example) ": ";
}

div.example {
	  padding: .5em;
    border-left-width: .5em;
    border-left-style: solid;
    border-color: #e0cb52;
    background: #fcfaee;
}

div.example-title {
	margin-bottom: 0.5em;
  min-width: 7.5em;
  color: #b9ab2d;
}

pre.json {
	font-size: 75%;
	font-family: monospace;
	tab-size: 2;
}


ol > li > ol > li {
  list-style-type: lower-roman;
  margin-top: 1em;
}

table.middel-aligned-table {
  border: 0px;
}

table.middle-aligned-table td {
	vertical-align: middle;
  border: 0px;
}

table {
	border: 1px solid #E0E0E0  ;
}

table th {
	background-color: #E0E0E0  ;
	text-align: left;
	font-weight: bold;
	font-size: 80%;
  border: 1px solid #E0E0E0  ;
}
table td {
  text-align: left;
  font-size: 80%;
  border: 1px solid #E0E0E0  ;
}